.result {
  height: 110px;
  vertical-align: bottom;
  font-size: 18px;
  text-align: right;
  margin: 5px;
  border: 1px solid #e9ecef;
  border-radius: .25rem;
}

.result p {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.history {
  border-bottom: 1px solid #efefef;
  color: #878e94;
  height: 30px;
}

.formula {
  font-size: 25px;
}

.btn {
  width: 82px;
  height: 82px;
  margin: 5px;
  color: #000;
  background-color: #e9ecef;
  border-color: #e9ecef;
  font-size: 25px;
}

.btn:active, .btn:focus, .btn:hover {
  background-color: rgb(116 26 8 / 45%);
  border-color: rgb(116 26 8 / 45%);
  box-shadow: 0 0 0 0.25rem rgb(116 26 8 / 45%);
}

.btn-result {
  background-color: #0d6efdb8;
  color: #fff;
}

.btn-operator {
  background-color: #878e94;
  color: #fff;
}

.btn-cor {
  width: 174px;
  background-color: #d3d6d8;
}
